/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    height: 100px;
}

.logo {
    color: red;
}

main {
    background-color: gray;
}

.container {
    width: 80%;
    margin: auto;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.single-movie img{
    width: calc(100% / 1);
}

.poster-movie {
    position: relative;
    margin: 20px 0;
}

.movie-list {
    list-style-type: none;
    padding: 20px;
    background-color: black;
    border: 1px solid white;
    height: 450px;
    width: 300px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.poster-movie:hover .movie-list {
    display: block;
}


li {
    color: grey;
}

.strong {
    color: white;
}
