/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

.input-bottom {
    background-color: darkblue;
    /* test */
    height: 100px;
}

main {
    background-color: gray;
}

.container {
    width: 80%;
    margin: auto;
}

.inner-container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 20px;
}

img {
    /* test */
    display: none;
}