<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <!-- FONT & FONTAWESOME & CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" 
    />
    <link rel="stylesheet" href="css/style.css">
    <!-- ---------- -->
    <!-- AJAX -->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" 
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" 
        crossorigin="anonymous">
    </script>
    <!-- ---------- -->
    <!-- VUEJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">
        <div class="wrapper">
            <header>
                <div class="logo">
                    <h1>Boolflix</h1>
                </div>
    
                <div class="input-bottom">
                    <input 
                        v-model="inputBar"
                        @keyup.enter="inputSearchResult"
                        @keyup="inputSearchResult"
                        type="text" placeholder="Inserisci film"
                    >
                    <button @click="inputSearchResult">Cerca</button>
                </div>
            </header>
    
            <main>
                <div class="container">

                    <div class="inner-container">
                        <div v-for="movie in movieArray" class="single-movie">
                            <div class="poster-movie">
                                <img
                                    v-if="movie.poster_path"
                                    class="poster"
                                    :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path"
                                    alt="movie.name"
                                >

                                <ul class="movie-list">
                                    <li>
                                        <span class="strong">Titolo:</span>
                                        <span>{{movie.title}}</span>
                                    </li>
        
                                    <li>
                                        <span class="strong">Titolo Originale:</span>
                                        <span>{{movie.original_title}}</span>
                                    </li>
        
                                    <li>
                                        <span class="strong">Voto:</span>
                                        <span v-if="movie.vote_average == 0">Nessun Voto</span>
                                        <span class="stelle" v-else v-for="numero in roundedVote(movie.vote_average)">
                                            <i class="fas fa-star"></i>
                                        </span>
                                    </li>
        
                                    <li>
                                        <span class="strong">Lingua:</span>
                                        <span>{{movie.original_language}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>